body {
    font-family: Arial;
    text-align: center;
    margin-top: 100px;
    background-color: #f2f2f2;
}

input, button {
    padding: 8px;
    width: 200px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
}
